@keyframes slideme{0%{left:-30px;margin-left:0}30%,to{left:110%;margin-left:80px}}

.button {
    background: #E62049;
    border-radius: 50px;
    border-style: none;
    transition: background-color .5s;
    position: relative;
    overflow: hidden;
    font-family: 'Averta Demo PE';
    font-size: 25px;
    color: #FFFFFF;
    &:hover {
        background: #B80C30;
    }
    &:active {
        background: #FF007A;
        transition: none;
    }
    &:after {
        content: '';
        position: absolute;
        animation-delay: .05s;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: slideme;
        animation-timing-function: ease-in-out;
        background: linear-gradient(0deg,#fff,hsla(0,0%,100%,.01));
        height: 300px;
        left: -90px;
        margin-left: 60px;
        top: -150px;
        transform: rotate(45deg);
        transition: all .3s;
        width: 25px;
        z-index: 0;
    }
}